
/* ntlist */

table {
    border-collapse: separate;
    border-spacing: 0;

}

.ntlistTable{
    text-align: center;
}
.ntlistTable tr {
    height:50px;

}

.ntlistTable tbody tr{
    background-color:#F7E8F6;
}

.ntlistTitle {
    font-size: 30px;
    color: #3E206D;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#gowrite{
    background-color:#BE79DF;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
}

#searchNbtn{
    background-color:#916DD5;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
}

/*ntview*/
#mod_btn{
    background-color:#BE79DF;
    color:white;
    height:40px;
    width : 70px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    float:right;
}

#delete_btn{
    background-color:#916DD5;
    color:white;
    height:40px;
    width : 70px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    float:right;
}

#prev_btn{
    background-color:#BE79DF;
    color:white;
    height:40px;
    width : 70px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:5px;

}

#next_btn{
    background-color:#916DD5;
    color:white;
    height:40px;
    width : 70px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:5px;
}

#list_btn{
    background-color:#F1C6E7;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:5px;

}


/*ntwrite*/
.ntwriteTitle{
    font-size:30px;
    color:#3E206D;
    font-weight:bold;
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}

.boardfrm{
    margin-top:30px;
}

#reNtbtn{
    background-color:#E5B0EA;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:15px;
}
#savebdbtn{
    background-color:#BE79DF;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:15px;

}

#reNt2btn{
    background-color:#E5B0EA;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:15px;
}
#updatebdbtn{
    background-color:#BE79DF;
    color:white;
    height:40px;
    width : 100px;
    border-radius : 3px;
    border-style:none;
    font-size:15px;
    margin-bottom:5px;
    margin-top:15px;

}

