#wrap{
    display:grid;
    /*grid-template-columns: 1fr 2fr 1fr;*/
    grid-template-columns: 20% auto 10%;
    min-height:500px;
}
.lside{
    grid-column: 1/2;
    background-color:skyblue;
}
.cside{
    grid-column: 2/3;
}
.rside{
    grid-column: 3/4;
    background-color:skyblue;
}

.quick_menu{
    position:fixed;
    display:block;
    bottom:0;
    right:0;
}
.quick_top{
    width:70px;
    height:50px;
    border-style:solid;
    border-width:1px;
}
.quick_bottom{
    width:70px;
    height:50px;
    border-style:solid;
    border-width:1px;
}
